<%= render 'shared/flash', flash: flash %>
<% if !@daily_goals.nil? %>
<div class="row">
  <div class='col-xs-6'>
    <div class="page-header">
      <h1>
        Histórico do mês individual
      </h1>
    </div>
    <table class='datatable'>
      <thead>
        <tr>
          <th>Data</th>
          <th>Vendedor</th>
          <th>Valor individual</th>
          <th>Total individual</th>
          <th>Ações</th>
        </tr>
      </thead>

      <tbody>
        <% @total = 0 %>
        <% @daily_goals.each do |goal| %>
          <tr>
            <td><%= l goal.currently_date %></td>
            <td><%= goal.user.full_name %></td>
            <td><%= goal.value %></td>
            <td><%=@total = @total + goal.value%></td>
            <td>
              <% if current_user.vendedor? %>
                <%= link_to '<span class="label label-danger label-white middle">Deletar</span>'.html_safe, goal, method: :delete, data: { confirm: 'Você tem certeza?' } %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <div class='col-xs-6'>
    <div class="page-header">
      <h1>
        Vendedores da meta diária
      </h1>
    </div>
    <% if !@users_goals.empty? %>
    <table class='datatable'>
      <thead>
        <tr>
          <th>Nome do vendedor</th>
          <th>Valor total</th>
        </tr>
      </thead>

      <tbody>
        <% @value_for_all = 0 %>
        <% @users = 0 %>
        <% @users_goals.each do |ug| %>
          <% @users = @users + 1 %>
          <% @value_for_all = @value_for_all + ug.value %>
          <tr>
            <td><%= ug.full_name %></td>
            <td><%= ug.value %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <h4>Valor dividido pela equipe: <%=@final_value = ( @value_for_all / @users ) %></h4>
    <% end %>
  </div>
</div>
<% end %>